.top {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    // background: peachpuff;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    // align-items: center; // 垂直对齐

    .top-left {
        flex: 1;
        // background: red;

        img {
            height: 32px;
        }
    }

    .top-center {
        flex: 1;
        // background: green;
        text-align: center;

        img {
            height: 32px;
        }
    }

    .top-right {
        flex: 1;
        // background: red;
        text-align: right;

        .top-right-btn {
            // margin-top: 2px;
            width: 96px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            background: rgba(67, 73, 118, 1);
            border-radius: 3px;
            color: #FFFFFF;
            cursor: pointer;
            float: right;
        }

        .top-right-account {
            font-size: 16px;
            font-weight: 500;
            color: rgba(53, 51, 62, 1);
            // padding-top: 10px;

            .net {
                // background: red;
                position: relative;

                .spot {
                    display: block;
                    // position: absolute;
                    // top: 8px;
                    // right: 60px;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background: #666;
                    float: right;
                    margin-right: 7px;
                    margin-top: 5px;

                    &.main {
                        background: rgba(39, 170, 160, 1);
                    }

                    &.rinkeby {
                        background: rgba(232, 187, 102, 1);
                    }
                }

                .net-name {
                    float: right;
                }
            }

            .account {
                padding-top: 5px;

                &:hover {
                    color: #6852FE;
                    cursor: pointer;
                }
            }
        }
    }
}


.main-body {
    width: 1200px;
    // background: peachpuff;
    margin: 0 auto;
    margin-top: 40px;

    .main-body-left {
        width: 830px;
        float: left;
        position: relative;

        .main-body-list {
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 35px 0px rgba(94, 85, 126, 0.15);
            border-radius: 6px;

            table {
                thead {

                    tr {
                        height: 67px;
                        border-bottom: 1px solid #E6EAEE;
                        font-weight: 500;
                        font-size: 16px;
                        color: rgba($color: #000000, $alpha: 0.85);
                        text-align: center;
                        display: flex;
                        width: 830px;

                        th {
                            line-height: 70px;
                        }


                        th:nth-child(1) {
                            // background: red;
                            width: 160px;
                            padding-left: 15px;
                        }

                        th:nth-child(2) {
                            // background: red;
                            width: 150px;
                        }

                        th:nth-child(3) {
                            // background: red;
                            flex: 1;
                        }

                        th:nth-child(4) {
                            // background: red;
                            flex: 1;
                        }

                        th:nth-child(5) {
                            // background: red;
                            width: 186px;
                            text-align: right;
                            padding-right: 15px;
                        }
                    }
                }

                tbody {
                    tr {
                        border-bottom: 1px solid #E6EAEE;
                        transition: 0.3s;
                        display: flex;

                        &:hover {
                            background: #F0EEFF;
                            cursor: pointer;
                        }

                        &.active {
                            background: #F0EEFF;
                            cursor: pointer;
                        }

                        td {
                            // flex: 1;
                            height: 50px;
                            line-height: 50px;
                        }

                        td:nth-child(1) {
                            // background: red;
                            width: 160px;
                            text-align: left;
                            padding-left: 15px;
                        }

                        td:nth-child(2) {
                            // background: red;
                            width: 150px;
                            text-align: center;
                        }

                        td:nth-child(3) {
                            // background: red;
                            flex: 1;
                            text-align: right;
                            padding-right: 35px;
                        }

                        td:nth-child(4) {
                            // background: red;
                            flex: 1;
                            text-align: right;
                            padding-right: 35px;
                        }

                        td:nth-child(5) {
                            // background: red;
                            width: 186px;
                            text-align: right;
                            padding-right: 25px;
                        }
                    }
                }
            }
        }

        .page {
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .main-body-right {
        width: 350px;
        float: right;

        .main-body-balance {
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 35px 0px rgba(94, 85, 126, 0.15);
            border-radius: 6px;
            margin-bottom: 20px;

            table {
                width: 100%;

                thead {
                    tr {
                        th {
                            width: 50%;
                            font-size: 14px;
                            font-weight: 500;
                            color: rgba(53, 51, 62, 1);
                            // background-color: red;
                            line-height: 40px;

                            &.th-1 {
                                padding-left: 15px;
                            }

                            &.th-2 {
                                text-align: right;
                                padding-right: 15px;
                            }

                            // &.th-3 {
                            //     text-align: right;
                            //     padding-right: 15px;
                            // }
                        }
                    }
                }

                tbody {
                    tr:nth-child(2n-1) {
                        background: #F2F3FB;
                    }

                    tr {
                        td {
                            width: 50%;
                            font-size: 12px;
                            font-weight: 400;
                            color: rgba(53, 51, 62, 1);
                            line-height: 36px;

                            &.td-1 {
                                padding-left: 15px;
                                position: relative;

                                img {
                                    width: 16px;
                                    position: absolute;
                                    top: 9px;
                                    left: 57px;
                                    cursor: pointer;
                                }
                            }

                            &.td-2 {
                                text-align: right;
                                padding-right: 15px;
                            }

                            // &.td-3 {
                            //     text-align: right;
                            //     padding-right: 15px;
                            // }


                        }
                    }
                }
            }
        }

        .main-body-details {
            background: rgba(255, 255, 255, 1);
            box-shadow: 0px 0px 35px 0px rgba(94, 85, 126, 0.15);
            border-radius: 6px;
            // background: peru;



            .account {
                padding-top: 15px;
                padding-left: 15px;
                border-bottom: 1px solid #E6EAEE;

                .account-title {
                    display: block;
                    width: 58px;
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(53, 51, 62, 1);
                    margin-bottom: 5px;
                }

                .account-address {
                    display: block;
                    width: 315px;
                    font-size: 12px;
                    font-weight: 400;
                    color: rgba(164, 167, 190, 1);
                    margin-bottom: 5px;

                    &:hover {
                        color: #6852FE;
                        cursor: pointer;
                    }
                }
            }

            .supply-table {
                border-bottom: 1px solid #E6EAEE;

                table {
                    width: 100%;

                    thead {
                        tr {

                            th {
                                width: 50%;
                                font-size: 14px;
                                font-weight: 500;
                                color: rgba(53, 51, 62, 1);
                                padding-left: 15px;
                                line-height: 40px;
                            }

                            th:nth-child(2) {
                                text-align: right;
                                padding-right: 15px;
                            }
                        }
                    }

                    tbody {
                        tr {
                            &:hover {
                                background: #F0EEFF;
                                cursor: pointer;
                            }

                            &.active {
                                background: #F0EEFF;
                                cursor: pointer;
                            }

                            td {
                                width: 50%;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 36px;
                                color: rgba(53, 51, 62, 1);
                                padding-left: 15px;
                            }

                            td:nth-child(2) {
                                text-align: right;
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }

            .borrow-table {
                border-bottom: 1px solid #E6EAEE;

                table {
                    width: 100%;

                    thead {
                        padding-left: 15px;

                        tr {

                            th {
                                width: 30%;
                                font-size: 14px;
                                font-weight: 500;
                                color: rgba(53, 51, 62, 1);
                                line-height: 40px;

                                // &.escpecil {
                                //     width: 45%;
                                // }
                            }

                            th:nth-child(1) {
                                padding-left: 15px;
                            }

                            th:nth-child(2) {
                                text-align: center;
                            }

                            th:nth-child(3) {
                                text-align: right;
                                padding-right: 15px;
                                width: 40%;
                            }
                        }
                    }

                    tbody {
                        tr {
                            &:hover {
                                background: #F0EEFF;
                                cursor: pointer;
                            }

                            &.active {
                                background: #F0EEFF;
                                cursor: pointer;
                            }

                            td {
                                width: 22.5%;
                                font-size: 12px;
                                font-weight: 400;
                                color: rgba(53, 51, 62, 1);
                                line-height: 36px;

                                &.escpecil {
                                    width: 45%;
                                }
                            }

                            td:nth-child(1) {
                                padding-left: 15px;
                            }

                            td:nth-child(2) {
                                text-align: center;
                            }

                            td:nth-child(3) {
                                text-align: right;
                                padding-right: 15px;
                            }
                        }
                    }
                }
            }

            .liquidate {
                padding-top: 5px;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 20px;

                .liquidate-title {
                    font-size: 14px;
                    font-weight: 500;
                    color: rgba(53, 51, 62, 1);
                    padding-bottom: 8px;
                    padding-top: 8px;
                }

                .liquidate-con {
                    padding-top: 5px;
                    width: 100%;
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;

                    .button-wrap {
                        // width: 90px;
                        width: 100%;
                        margin-top: 15px;

                        button {
                            width: 100%;
                            text-align: center;
                            border-color: #8472FF !important;
                            background-color: #8472FF !important;
                            color: #FFFFFF !important;

                            &:hover {
                                background-color: rgba(#8472FF, 0.85) !important;
                                border-color: rgba(#8472FF, 0.85) !important;
                                color: #FFFFFF !important;
                            }

                            &.disable-button {
                                background-color: #E9E7F0 !important;
                                border-color: #E9E7F0 !important;
                                color: #92909A !important;
                            }
                        }
                    }

                    .input-wrap {
                        // flex: 1;
                        position: relative;

                        .max-tips {
                            position: absolute;
                            right: 15px;
                            top: 10px;
                            cursor: pointer;
                            color: #8472FF;
                            font-size: 14px;
                        }
                    }

                    input {
                        width: 100%;
                    }
                }
            }

        }
    }




}


.footer {
    width: 1200px;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid #DEE0ED;

    .footer-left {
        float: left;
        padding-top: 5px;

        a {
            margin-right: 30px;
            font-size: 16px;
            font-weight: 500;
            color: rgba(164, 167, 190, 1);
        }
    }

    .footer-right {
        float: right;

        a {
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            overflow: hidden;
            margin-left: 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .footer-right-fixed {
            position: relative;
            // background-color: red;

            .fixed1 {
                width: 70px;
                position: relative;
                font-size: 16px;
                font-weight: 500;
                color: rgba(67, 73, 118, 1);
                margin-right: 15px;
                cursor: pointer;
                padding-left: 5px;
                padding-top: 5px;

                // &::after {
                //     content: '';
                //     display: block;
                //     position: absolute;
                //     width: 0px;
                //     height: 0px;
                //     border: 3px solid transparent;
                //     border-bottom: 5px solid #333;
                //     right: 2px;
                //     top: 3px;
                // }
            }

            .fixed2 {
                position: absolute;
                bottom: 30px;
                background: #FFF;
                width: 70px;
                box-shadow: 0px 0px 35px 0px rgba(94, 85, 126, 0.15);
                border-radius: 6px;

                ul {
                    margin-bottom: 0;

                    li {
                        line-height: 28px;
                        padding-left: 5px;

                        &:hover {
                            background: #F0EEFF;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}